/vendor
/node_modules

# Environment
.env
.env.backup
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Exceptions para manter estrutura
!/storage/logs/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore

# Cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# PHPUnit
.phpunit.result.cache

# IDE
.idea/
/.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Misc
.phpactor.json
auth.json